<div id="notice"><img src="http://polltracker.talkingpointsmemo.com/images/spinner.gif"><br />Please be patient while we make your delivery. <br />Don't hit refresh...</div>

<div id="greeting">
<h1>Hey, <%= @page_title %></h1>

<div id="time_links">
give me some news from... <br />
<a class="now" href="">The last four hours</a><br />
<a class="yesterday" href="">Yesterday</a><br />
<a class="twoDaysAgo" href="">two days ago</a><br />
<a class="threeDaysAgo" href="">three days ago</a><br />
<a class="fourDaysAgo" href="">four days ago</a><br />
</div>
</div>
