<div class="wrapper" style="width:1300px;">
  <div class="newsletter_result" style="float:left;width:600px;margin-right:30px;">
    <%= @html %>
  </div>
  
  <div class="code" style="width:600px;float:left;">
    <textarea style="width:600px;height:800px;"><%= @html %></textarea>
  </div>
</div>